.excerpt {
  @apply text-palette-300 my-4 text-lg font-light;
}

a {
  @apply text-primary hover:text-primary-light transition-colors;
}

.content-body {
  @apply font-content flex flex-col text-base leading-7 text-palette-400 font-light;

  > div {
    @apply mt-8;
  }

  h1 {
    @apply mt-12 text-4xl font-bold text-palette-500;
  }

  h2 {
    @apply mt-12 text-3xl font-bold text-palette-500;
  }

  h3 {
    @apply mt-12 text-2xl font-bold text-palette-500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans first:mt-0;
  }

  h1 + h2 {
    @apply mt-4;
  }
  h2 + h3 {
    @apply mt-3;
  }
  h3 + h4 {
    @apply mt-2;
  }

  h1 + *,
  h2 + * {
    @apply mt-3;
  }

  h3 + p,
  h4 + p {
    @apply mt-2;
  }

  h5 + p,
  h6 + p {
    @apply mt-1;
  }

  p {
    @apply mt-2 first:mt-0;
  }

  p + p,
  div + p {
    @apply mt-8;
  }

  p + figure,
  figure + p {
    @apply mt-8;
  }

  a {
    @apply underline;
  }

  /* GhostCMS adds -accent suffix to classnames that are supposed to have a brand-color background */
  /* Let's make sure our links and text are easily visible in these blocks. */
  [class*="-accent"] a,
  [class*="-accent"] * {
    @apply text-white;
  }
  [class*="-accent"] a {
    @apply hover:text-white/75;
  }

  blockquote {
    @apply border-l-primary border-l-2 font-normal pl-4 mt-7 italic;
  }

  b,
  strong {
    @apply text-palette-500 font-semibold;
  }

  ul,
  ol {
    @apply my-3 pl-6;
  }

  ul {
    list-style-type: disc;
  }
  ul ul {
    list-style-type: circle;
  }
  ul ul ul {
    list-style-type: square;
  }

  ol {
    list-style-type: decimal;
  }
  ol ol {
    list-style-type: lower-latin;
  }
  ol ol ol {
    list-style-type: lower-roman;
  }

  li {
    @apply pl-1.5 my-2 marker:text-palette-400;
  }

  figcaption {
    @apply mt-2 text-sm text-center text-palette-300 font-thin;
  }

  pre {
    @apply bg-palette-100 p-2 my-4 rounded-md border border-palette-200/50 whitespace-pre-wrap;
    font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
  }

  code {
    @apply rounded-sm border border-palette-200/50 px-1 pt-1 bg-palette-100;
  }

  pre code {
    @apply p-0 border-0;
  }

  hr {
    @apply my-[6vmin] border-palette-200/50;
  }
}

.kg-align-center {
  @apply text-center;
}

.kg-align-left {
  @apply text-left;
}

.kg-align-right {
  @apply text-right;
}

/* Ghost callout cards
/* ---------------------------------------------------------- */
.kg-callout-card {
  @apply flex px-7 py-6 rounded bg-slate-100 text-base;
}

.kg-callout-card .kg-callout-emoji {
  @apply px-2 h-[32px] text-lg -ml-2 mr-2;
}
.kg-callout-card-red {
  @apply bg-red-100/75;
}
.kg-callout-card-blue {
  @apply bg-blue-100/50;
}
.kg-callout-card-grey {
  @apply bg-palette-200/40;
}
.kg-callout-card-pink {
  @apply bg-pink-200/40;
}
.kg-callout-card-green {
  @apply bg-green-600/10;
}
.kg-callout-card-white {
  @apply bg-white rounded border border-palette-200/75;
}
.kg-callout-card-yellow {
  @apply bg-orange-100/50;
}
.kg-callout-card-purple {
  @apply bg-purple-200/40;
}
.kg-callout-card-accent {
  @apply bg-primary;
}

/* Ghost bookmarks
/* ---------------------------------------------------------- */
.kg-bookmark-container {
  @apply flex text-palette-400 rounded shadow ease-in-out transition-[box-shadow] border border-palette-200/50;
  @apply hover:text-palette-500 no-underline hover:shadow-md;
}

.kg-bookmark-content {
  @apply flex flex-col grow justify-start items-start p-5 text-sm;
}

.kg-bookmark-title {
  @apply font-medium transition-colors;
}

.kg-bookmark-container:hover .kg-bookmark-title {
  @apply text-primary;
}

.kg-bookmark-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @apply overflow-y-hidden max-h-[48px] text-palette-300;
}

.kg-bookmark-thumbnail {
  @apply relative min-w-[33%] max-h-full;
}

.kg-bookmark-thumbnail img {
  @apply absolute top-0 right-0 w-full h-full rounded object-cover;
}

.kg-bookmark-metadata {
  @apply flex flex-wrap items-center mt-6 font-normal;
}

.kg-bookmark-icon {
  @apply w-[22px] h-[22px] mr-3;
}

.kg-bookmark-author {
  @apply text-sm font-light text-palette-300;
  @apply after:mx-1.5 after:content-['•'] last:after:content-none;
}

.kg-bookmark-publisher {
  @apply overflow-hidden max-w-[240px] truncate;
}

/* Ghost gallery
/* ---------------------------------------------------------- */
.kg-gallery-container {
  @apply flex flex-col gap-2 w-full;
}

.kg-gallery-row {
  @apply flex flex-row gap-2 justify-center;
}

.kg-gallery-image img {
  @apply m-0 max-w-full min-h-full object-cover;
}
